# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_SWEEP
    bool

config SHIELD_SWEEP_CENTRAL
    def_bool $(shields_list_contains,sweep_central)
	select SHIELD_SWEEP

config SHIELD_SWEEP_LEFT
	def_bool $(shields_list_contains,sweep_left)
	select SHIELD_SWEEP

config SHIELD_SWEEP_RIGHT
	def_bool $(shields_list_contains,sweep_right)
	select SHIELD_SWEEP
