# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SWWEEEP_CENTRAL

config ZMK_KEYBOARD_NAME
    default "swweeep"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SWWEEEP
config ZMK_SPLIT
    default y
endif
