/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        fnArrow: fnArrow {
            label = "ZM_fnArrow";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_EQUAL &kp GREATER_THAN>;
        };
    };
};
/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <42 47>;
            bindings = <&mo 3>;
        };
    };
};


/ {
    behaviors {
        mk: mod_tap_key {
            compatible = "zmk,behavior-hold-tap";
            label = "mod_tap_key";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        }; 
        ml: mod_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "mod_tap_layer";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        }; 
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LC(C)>, <&kp LC(X)>;
        };
    };
	keymap {
		compatible = "zmk,keymap";
		layer_0 {
			bindings = <
                &none   &kp Q           &kp W           &kp F           &kp P           &kp B                                                       &kp J           &kp L           &kp U           &kp Y           &kp APOS        &none
                &none   &mt LGUI A      &mt LALT R      &mt LCTRL S     &mt LG(LS(LA(LCTRL))) T     &kp G                                           &kp M  &mt LG(LS(LA(LCTRL))) N  &mt LCTRL E     &mt LALT I      &mt LGUI O      &none
                &none   &kp Z           &kp X           &kp C           &kp D           &kp V        &none            &none  &none       &none      &kp K           &kp H           &kp COMMA       &kp DOT         &kp FSLH        &none
                                                        &none           &none           &ml 1 SPACE &kp LSHFT &none  &none       &key_repeat &ml 2 BSPC      &none           &none
			>;
		};   
        layer_1 {
			bindings = <
                &trans  &kp ESC         &trans          &kp LC(F)       &kp BSPC        &kp DEL                                                     &kp CARET       &kp C_PP        &kp C_NEXT      &kp TILDE       &kp GRAVE       &trans
                &trans  &sk LGUI        &sk LALT        &sk LCTRL       &sk LG(LS(LA(LCTRL))) &kp TAB                                               &kp PRCNT       &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &trans
                &trans  &kp LC(Z)       &td1            &kp LC(V)       &kp ENTER       &kp INS     &trans      &trans      &trans      &trans      &kp DLLR        &kp HOME        &kp PG_DN       &kp PG_UP       &kp END         &trans
                                                        &trans          &trans          &trans      &trans      &trans      &trans      &trans      &kp DEL         &trans          &trans      
            >;
		};
        layer_2 {
			bindings = <
                &trans  &kp UNDER       &kp COLON       &kp AMPS        &kp PIPE        &fnArrow                                                    &kp PLUS        &kp N7          &kp N8          &kp N9          &kp ASTRK       &trans
                &trans  &kp SEMI        &kp EXCL        &kp LBRC        &kp LPAR        &kp LBKT                                                    &kp MINUS       &kp N4          &kp N5          &kp N6          &kp EQUAL       &trans
                &trans  &kp HASH        &kp AT          &kp RBRC        &kp RPAR        &kp RBKT    &trans      &trans      &trans      &trans      &kp N0          &kp N1          &kp N2          &kp N3          &kp BSLH        &trans
    	                                                &trans          &trans          &trans      &trans      &trans      &trans      &trans      &trans          &trans          &trans 
            >;
		};   
        layer_3 {
			bindings = <
                &trans  &bootloader     &trans          &trans          &kp PSCRN       &trans                                                      &kp F12          &kp F7         &kp F8          &kp F9          &kp LC(PLUS)    &trans
                &trans  &sk LGUI        &sk LALT        &sk LCTRL       &sk LSHFT       &sk LG(LS(LA(LCTRL)))                                       &kp F11          &kp F4         &kp F5          &kp F6          &kp LC(MINUS)   &trans
                &trans  &trans          &trans          &trans          &kp K_APP       &trans      &trans      &trans      &trans      &trans      &kp F10          &kp F1         &kp F2          &kp F3          &kp LC(N0)      &trans
                                                        &trans          &trans          &trans      &trans      &trans      &trans      &trans      &trans          &trans          &trans
            >;
		};  
	};
};

//	            &trans  &trans          &trans          &trans          &trans          &trans                                                      &trans          &trans          &trans          &trans          &trans          &trans
//	            &trans  &trans          &trans          &trans          &trans          &trans                                                      &trans          &trans          &trans          &trans          &trans          &trans
//	            &trans  &trans          &trans          &trans          &trans          &trans      &trans      &trans      &trans      &trans      &trans          &trans          &trans          &trans          &trans          &trans
//	                                                    &trans          &trans          &trans      &trans      &trans      &trans      &trans      &trans          &trans          &trans