/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF    0
#define NAV    1
#define NUM    2

/ {
    macros {
        fnArrow: fnArrow {
            label = "ZM_fnArrow";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_EQUAL &kp GREATER_THAN>;
        };
    };
};






/ {

	keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
                &none    &kp ESC                  &kp W       &kp F       &kp P                  &kp B                                                          &kp J       &kp L       &kp U           &kp Y           &kp APOS        &none
                &none    &kp A                    &kp R       &kp S       &kp T                  &kp G                                                          &kp M       &kp N       &kp E           &kp I           &kp O           &none
                &none    &kp Z                    &kp X       &kp C       &kp D                  &kp V      &none      &none      &none          &none          &kp K       &kp H       &kp COMMA       &kp DOT         &kp FSLH        &none
                                                              &none       &to NAV                &kp SPACE  &sk LSHIFT &none      &none          &kp RETURN     &kp BSPC    &kp TAB     &none 
			>;
		};
        navigation_layer {
			bindings = <
                &trans      &sk LALT    &kp HOME    &kp UP      &kp END                 &kp PG_UP                                               &none       &none       &none           &none           &kp GRAVE       &trans
                &trans      &sk LCTRL   &kp LEFT    &kp DOWN    &kp RIGHT               &kp PG_DN                                               &none       &fnArrow    &none           &none           &none           &trans
                &trans      &sk LWIN    &kp LBKT    &kp RBKT    &kp SEMI                &kp BSLH  &trans     &trans      &trans       &trans    &kp INS     &none       &none           &none           &none           &trans
                                                    &trans      &mt &to DEF &to NUM     &to DEF   &trans     &trans      &trans       &trans    &trans      &none       &none
			>;
		};
        number_layer {
			bindings = <
                &trans      &sk LALT    &kp N7      &kp N8      &kp N9                  &kp MINUS                                               &trans      &kp F7      &kp F8          &kp F9          &kp F12         &trans
                &trans      &sk LCTRL   &kp N4      &kp N5      &kp N6                  &kp N0                                                  &trans      &kp F4      &kp F5          &kp F6          &kp F11         &trans
                &trans      &sk LWIN    &kp N1      &kp N2      &kp N3                  &kp EQUAL &trans     &trans      &trans       &trans    &trans      &kp F1      &kp F2          &kp F3          &kp F10         &trans
                                                    &trans      &to DEF                 &to DEF   &trans     &trans      &trans       &trans    &trans      &none       &none
			>;
		};
	};
};


//	&trans      &trans      &trans      &trans      &trans      &trans                                            &trans      &trans      &trans      &trans          &trans        &trans
//	&trans      &trans      &trans      &trans      &trans      &trans                                            &trans      &trans      &trans      &trans          &trans        &trans
//	&trans      &trans      &trans      &trans      &trans      &trans    &trans    &trans       &trans&trans     &trans      &trans      &trans      &trans          &trans        &trans
//	                                    &trans      &trans      &trans    &trans    &trans       &trans&trans     &trans      &trans      &trans