#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {   
    keymap {
        compatible = "zmk,keymap";
        layer_0 {
            bindings = <
                &kp ESC         &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                                          &kp N6          &kp N7          &kp N8          &kp N9          &kp N0         &kp LBKT
                &kp TAB         &kp Q           &kp W           &kp F           &kp P           &kp B                                           &kp J           &kp L           &kp U           &kp Y           &kp APOS       &kp RBKT
                &kp BSPC        &kp A           &kp R           &kp S           &kp T           &kp G                                           &kp M           &kp N           &kp E           &kp I           &kp O          &kp SEMI
                &kp ENTER       &kp Z           &kp X           &kp C           &kp D           &kp V           &kp LALT            &kp C_PP    &kp K           &kp H           &kp COMMA       &kp DOT         &kp FSLH       &kp BSLH
                &kp LCTRL                                       &kp LGUI        &none           &kp SPACE       &kp LSHFT          &none       &kp LSHFT       &kp LGUI        &kp LALT                                       &kp LCTRL    
            >;
        };   
    };
};

